ul.leaders {
    max-width: 80em;
    padding: 10;
    overflow-x: hidden;
    list-style: none;
}

ul.leaders li:before {
    
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . ."
 ". . . . . . . . . . . . . . . . . . . ."
 ". . . . . . . . . . . . . . . . . . . ."
 ". . . . . . . . . . . . . . . . . . . ."
 ". . . . . . . . . . . . . . . . . . . ."
 ". . . . . . . . . . . . . . . . . . . ."
 ". . . . . . . . . . . . . . . . . . . ."
 ". . . . . . . . . . . . . . . . . . . ."}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: none;}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: none;
}

h1{
   text-align: center;
}